*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

body{
    background-image: radial-gradient(circle  , rgb(0, 204, 255) 0, rgb(34, 216, 248), rgb(0, 128, 128) 100%);
    background-size: cover;
    background-position: center;
}
.titlee{
    display: flex;
    text-shadow: #555;
    font-weight: 600;
    padding: 20px;
    margin-bottom: 20px;
}
#icon{
    
    width: 70px;
    height: fit-content;
    max-height: 70px;
    margin-right: 20px;
    align-content: center;
    align-items: center;
}
.card{
    width: 90%;
    max-width: 470px;
    text-align: center;
    background: radial-gradient(circle, rgb(90, 89, 180) 0%, rgb(16, 23, 230) 100%);
    color:#fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
   margin-bottom:60px;
}

.search input{
    border:0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding:10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    caret-color: #00feba;
}

.search button{
    border:0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img{
    width: 17px;
}

.weather_icon{
    width: 170px;
    margin-top: 30px;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
}

.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width:40px;
    margin-right: 10px;
}

.humidity,.wind{
    font-size: 28px;
    margin-top: -6px;
}

.weather{
    display: none;
}

.error{
    /* text-align: left; */
    margin-left: 10px;
    font-size: 18px;
    margin-top: 10px;
    display: none;
}

.card .separator{
    height: 1px;
    width: 100%;
    margin: 25px 0;
    background: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.separator::before{
    content: "OR";
    color: #ccc;
    font-size: 20px;
    padding:0 15px;
    /* background: #fff; */
}

#location{
    width: 70%;
    height: 45px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    background: #43AFFC;
    font-size: 16px;
    border-radius: 10px;
}

/* Responsive Styles */

@media only screen and (max-width: 768px) {
    .card {
        margin-top: 50px;
        padding: 30px 25px;
    }

    .weather h1 {
        font-size: 60px;
    }

    .weather h2 {
        font-size: 35px;
    }

    .weather_icon {
        width: 130px;
    }

    .search input {
        height: 50px;
        font-size: 16px;
    }

    .search button {
        width: 50px;
        height: 50px;
    }

    .details {
        margin-top: 40px;
    }

    .humidity,
    .wind {
        font-size: 24px;
    }
}

@media only screen and (max-width: 480px) {
    .card {
        margin-top: 30px;
        padding: 25px;
    }

    .weather h1 {
        font-size: 50px;
    }

    .weather h2 {
        font-size: 30px;
    }

    .weather_icon {
        width: 110px;
        margin-top: 20px;
    }

    .search input {
        height: 40px;
        font-size: 12px;
        margin-right: 5px;
    }

    .search button {
        width: 50px;
        height: 35px;
    }

    .details {
        margin-top: 30px;
    }

    .humidity,
    .wind {
        font-size: 20px;
    }
}